* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
img {
    
    width: 120px;
    margin: 30px 0px 20px 0;
}
.container {
    max-width: 800px;
    display: flex;
    margin: 20px;
    flex: 1 1 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.section1 {
    background-color: rgb(242, 239, 239);
    padding: 0 30px 0 10px;
    width: 40%;
}
.section2 {
    width: 50%;
    margin: 30px 15px 0px 15px;
}
.form1 {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
input#firstname,#lastname,#email,#password {
    width: 100%;
    padding: 0;
} 
.checkbox {
    display: flex;
    gap: 5px;
    margin: 20px 0 10px 0;

}
.firstname,.lastname {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}
.form2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn {
    background-color: rgb(21, 197, 197);
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 30px 0;
}
@media (max-width: 500px) {
    .container {
        flex-wrap: wrap;
    }
    .form1 {
        flex-wrap: wrap;
    }
    input#email,#password {
        width: 80%;
        padding: 0;
    }
    input#firstname,#lastname {
        width: 160%;
        padding: 0;
}


